
body {background: green;}

h1 {color: red;
	text-align: center;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif}


h2 {color: red;
	text-decoration: underline;
	font-family: Helvetica, Arial, sans-serif}

p {color :blue;}

a:link {color: purple;}
a:visited {color: red;}